In [1]:
# 8th Lecture
# 3 july 2022

In [2]:
#SQL - Structured Querry Langauage
#SQLite 3 
#When we use sqlite 3 in jupyter notebook we have to import sqlite 3

In [3]:
import sqlite3

In [4]:
#Connecting with the database (if there is no database exists.  it will create one)

In [34]:
db=sqlite3.connect("student_info1.db")

In [10]:
#Declare cursor

In [11]:
cursor=db.cursor()

In [8]:
#Create table

In [35]:
cursor.execute("CREATE TABLE student_info1(phone_num INT ,email_id TEXT,course_name TEXT,fee_paid INT)")

In [13]:
#Insert record into the table (single record inserting)

In [37]:
cursor.execute("INSERT INTO student_info1(phone_num,email_id,course_name,fee_paid)values(1234567890,'saurav.vicky16@gmail.com','Data Science',25000)")

In [16]:
#Save The record permanently .If you dont commit ,next time you will not see the record in the table.

In [38]:
db.commit()

In [18]:
#count of records inserted

In [39]:
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [20]:
#Select query-How to fetch records the table
#to get columns names
#col_name=[]
#for col in cursor .description
#col_name.append(col[0])
#print(col_name)

In [40]:
result=cursor.execute("select * from student_info1")

In [41]:
for row in result:
    print(row)

(1234567890, 'saurav.vicky16@gmail.com', 'Data Science', 25000)

In [23]:
#Multiple records insertion

In [43]:
cursor.execute("insert into student_info1 Values(8349089124,'shrivastavasaurav578@gmail.com','Data Science',25000),(7894561236,'s123@gmail.com','Data Science',40000)")

In [45]:
db.commit()

In [26]:
#Count Row in student_data

In [46]:
print(cursor.rowcount,("Record(s)inserted"))

2 Record(s)inserted

In [28]:
#Open csv files

In [48]:
with open ('DT_Students.csv','r') as file:
    no_records=0
    for row in file:
        cursor.execute("insert into student_info1 values(?,?,?,?)",row.split(","))
        db.commit()
        no_records=no_records + 1
print(no_records,"Records Inserted")

20 Records Inserted

In [49]:
result=cursor.execute("select * from student_info1")

In [51]:
for row in result:
    print(row)

(1234567890, 'saurav.vicky16@gmail.com', 'Data Science', 25000)
(8349089124, 'shrivastavasaurav578@gmail.com', 'Data Science', 25000)
(7894561236, 's123@gmail.com', 'Data Science', 40000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [52]:
#Where clause -select reocrd based on condition

In [57]:
sql="select * from student_info1 where course_name='Data Science'"

In [58]:
result=cursor.execute(sql)

In [59]:
for row in result:
    print(row)

(1234567890, 'saurav.vicky16@gmail.com', 'Data Science', 25000)
(8349089124, 'shrivastavasaurav578@gmail.com', 'Data Science', 25000)
(7894561236, 's123@gmail.com', 'Data Science', 40000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [61]:
#Delete Records-How to delete unwanted Records
#usually developer and data scientist has to rights to delete anything from sql.

In [64]:
sql="delete from student_info1 where phone_num=8349089124"

In [66]:
cursor.execute(sql)
db.commit()

In [67]:
result=cursor.execute("Select * from student_info1")
for row in result:
    print(row)

(1234567890, 'saurav.vicky16@gmail.com', 'Data Science', 25000)
(7894561236, 's123@gmail.com', 'Data Science', 40000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [ ]:
#Student of Data Science
#Student of Data Trained-Saurav
#Date-04-07-2022
#Time-10:57